@model NewsViewModel

@{
    ViewData["Title"] = "Delete News";
}

<h1 class="headerText">Are you sure you want to delete these news?</h1>

<div class="form-row">
    <form class="col-lg-7" method="post">

        <div class="form-group">
            <button class="btn btn-warning" type="submit">Confirm</button>
        </div>
    </form>
</div>