@model EditUserViewModel

@{
    ViewData["Title"] = "Edit User";
}

<h1 class="headerText">@*You are currently changing editing the name of `@Model.OldName`*@</h1>

<div class="form-row">
    <form class="col-lg-7" method="post">
        <input type="hidden" asp-for="OldName" />

        <div class="form-group">
            <label asp-for="NewName">NewName</label>
            <input class="form-control" asp-for="NewName" placeholder="Current Name: @Model.OldName" />
            <span asp-validation-for="NewName"></span>
        </div>

        <div class="form-group">
            <button class="btn btn-warning" type="submit">Assign</button>
        </div>
    </form>
</div>