@model IndexViewModel

@{
    ViewData["Title"] = "Admin Dashboard";

}
<div class="container">
    <div class="row">
        <div class="col-md-11 text-md-center">
            <h4 class="display-4">Administration Dashboard</h4>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover col-md-10">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Update</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <partial name="_UserPartial" model="user" />
                }

            </tbody>
        </table>
        <div class="col-md-2">
            <hr />
            <a asp-area="Administration" asp-controller="MovieManagement" asp-action="Create" class="btn btn-warning btn-block">Create Movie</a>
            <a asp-area="Administration" asp-controller="ActorManagement" asp-action="Create" class="btn btn-warning btn-block">Create Actor</a>
            <a asp-area="Administration" asp-controller="GenreManagement" asp-action="Create" class="btn btn-warning btn-block">Create Genre</a>
            <a asp-area="Administration" asp-controller="NewsManagement" asp-action="Create" class="btn btn-warning btn-block">Create News</a>
            <hr />
            <a asp-area="Administration" asp-controller="Role" asp-action="Index" class="btn btn-warning btn-block">Manage Roles</a>

        </div>
    </div>
</div>