@model MovieViewModel

@{
    ViewData["Title"] = "Delete Movie";
}

<h1 class="headerText">Are you sure you want to delete this movie?</h1>

<div class="form-row">
    <form class="col-lg-7" method="post">
        <input type="hidden" asp-for="Name" />

        <div class="form-group">
            <button class="btn btn-warning" type="submit">Confirm</button>
        </div>
    </form>
</div>

