@model MovieViewModel
@{
    ViewData["Title"] = "_RolePartial";
}

<tr>
    <td><a asp-area="" asp-controller="Movie" asp-action="Details" asp-route-id="@Model.Name" class="text-dark">@Model.Name</a></td>
    <td>@Model.Rating</td>
</tr>
