@model NewsViewModel
@{
    ViewData["Title"] = "_NewsPartial";
}

<tr>
    <td>
        <div class="row-8">
            <a asp-area="" asp-controller="News" asp-action="Details" asp-route-id="@Model.Title" class="text-dark">
                <img src="~/images/@Model.Image" alt="News Image" class="img-fluid" style="width: 100%; height:100%;" />
                @Model.Title
            </a>
        </div>
        <hr />
    </td>
</tr>
