.userListingText {
    font-family: Courier New, Courier, monospace;
    font-size: 19px;
}

.headerText {
    padding-bottom: 10px;
    font-family: Courier New, Courier, monospace;
    font-size: 30px;
}

.movieTitleText {
    border: ridge;
}

.ratingTitleRight{
    text-align: right;
}

.coloredStar{
    color: gold;
}

.pLeftPush{
    padding-left: 5px;
}

.genreTitleTag {
    font-size: 10px;
    color: darkgrey;
    font-weight: 500;
}

.ratingInTitleToRight {
    /*padding-left: 20%;*/
    text-align: right;
    color: gold;
}

.homeMovieListAlign{
    margin-left: 8%;
    margin-bottom: 4%;
}

.detailsMovieButton{
    margin-bottom: 5%;
    margin-left: 7%;
}

.homeTitleMovie{
    margin-top: 2%;
}

.topratedMovieGenre{
    margin-right: 80px;
}

.homeRowMoviesList{
    margin-top: 5%;
}

.homeMovieWatchlistButton{
    font-size: 10px;
    font-weight: 500;
}

