.userListingText {
    font-family: Courier New, Courier, monospace;
    font-size: 19px;
}

.headerText {
    padding-bottom: 10px;
    font-family: Courier New, Courier, monospace;
    font-size: 30px;
}

.movieTitleText {
    border: ridge
}

.ratingTitleRight{
    text-align: right;
}

.coloredStar{
    color: gold;
}

.pLeftPush{
    padding-left: 5px;
}

    

