@model ApplicationUserViewModel
@{
    ViewData["Title"] = "_UserPartial";
}

<h4 class="userListingText">
    Username: @Model.Username | Email: @Model.Email
    <a asp-area="Administration" asp-controller="Admin" asp-action="EditUser" asp-route-id="@Model.Username" class="btn btn-danger">Edit User</a>
    <a asp-area="Administration" asp-controller="Admin" asp-action="UpdateRole" asp-route-id="@Model.Username" class="btn btn-danger">UpdateRole</a>
</h4>
