
@{
    ViewData["Title"] = "AlreadyExistsError";
}

<h2>Invalid Request</h2>
<p>Unfortunately, the entity you are trying to add is already in use, please pick another name and try again!</p>
<p>Our friendly message: @ViewData["Error"]</p>
