@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";

}

<div class="container">
    <div class="row homeRowMoviesList">
        <div class="col-lg-10">
            <div class="row">
                @foreach (var movie in Model.Movies)
                {
                    <partial name="_HomeMoviePartial" model="movie" />
                }
            </div>
        </div>
        <div class="col-lg-2"> News
        <hr />

                @foreach (var news in Model.News)
                {
                    <partial name="_NewsPartial" model="news" />
                }
            </div>
        </div>
    </div>