@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Movie Management System - Very Basic</p>
    <img src="~/images/marvel.png" alt="Visual Studio" class="img-responsive" style="width: 700px; height:250px;" />
</div>
