@{
    ViewData["Title"] = "Invalid";
}

<h2>Invalid Request</h2>
<p>Oops! We ran into some problems.</p>
<p>Feel free to contact our administration at admin@movie.com for further assistance.</p>
<p>Our friendly message: @ViewData["Error"]</p>